<div class="pavo-widget-deals-category {{ settings.extra_class ? [ ' ', settings.extra_class ] | join() : '' }}">
  {% set id = random(1..9) + random() %}
  <div class="content-products">
    <div class="row no-margin">
      {% if settings.product_grid_layout is empty %}
      {% if settings.banner_image %}
      <div class="banner-deals-category">
        <div class="image">
          <a href="{% if settings.category != "all" %}{{settings.category_link}}{% endif %}"><img src="{{ settings.banner_image }}" alt="{{ settings.cat_name }}" class="img-responsive" /></a>
        </div>
      </div>
      {% endif %}
      {% for product in settings.products %}
      <div class="product-layout">
        <div class="product-thumb transition">
          <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
          <div class="caption">
            <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
            <p>{{ product.description }}</p>
            {% if product.rating %}
            <div class="rating">{% for i in 1..5 %}
              {% if product.rating < i %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> {% endif %}
              {% endfor %}
            </div>
            {% endif %}
            {% if product.price %}
            <p class="price"> {% if not product.special %}
              {{ product.price }}
              {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
              {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
              {% endif %} 
            </div>
            {% if settings.countdown == "true" %}
            <div class="product-timing-deal countdown-timer" data-countdown="1" data-start="{{ product.date_start }}" data-end="{{ product.date_end }}" data-format="{{ date_format_simple_day_hour }}">        
              <div class="date-format">
                <div class="format-date format-date-days">
                  <span class="time-group"><span class="timer">%D</span>  <span class="unit">{{ text_days }}</span></span> 
                  <span class="time-group"><span class="timer">%H</span>  <span class="unit">{{ text_hours }} </span></span>
                  <span class="time-group"><span class="timer">%M</span>  <span class="unit">{{ text_min }}</span></span>
                  <span class="time-group"><span class="timer">%S</span>  <span class="unit">{{ text_sec }}</span></span>
                </div>
              </div>
            </div>
            {% endif %}
            <div class="button-group">
              <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
              <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
              <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        {% if settings.banner_image %}
        <div class="banner-deals-category">
          <div class="image">
            <a href="{% if settings.category != "all" %}{{settings.category_link}}{% endif %}"><img src="{{ settings.banner_image }}" alt="{{ settings.cat_name }}" class="img-responsive" /></a>
          </div>
        </div>
        {% endif %}
        <div class="swiper-container pavo-swiper-slide" id="product-deals-category{{id}}" data-slidesperview="{{ settings.item }}" data-rows="{{ settings.rows }}" {% if settings.auto_play == "false" %} data-play="0" {% else %} data-play="{{settings.auto_play_time}}" {% endif %} {% if settings.loop == "false" %} data-loop="0" {% else %} data-loop="1" {% endif %}>
          <div class="swiper-wrapper">
            <div class="swiper-pager">
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
            {% for product in settings.products %}
            <div class="swiper-slide"><div class="product-layout">
              {% include ( settings.product_grid_layout ) %}
            </div></div>
            {% endfor %}
          </div>
          
          
        </div>
        {% endif %}
      </div>                     
    </div>
  </div>
