{% set id = random(1..9) + random() %}
<div class="pav-newsletter v1 {{ prefix }} pav-newsletter" id="newsletter_{{id}}" data-mode="{{ mode }}">
		<form  method="post" action="{{ action }}" class="formNewLestter newsletter-bg" {% if banner is not empty%} 
		style="background-image: url('{{ banner }}')" {% endif %}>
			<div class="inner row">
				<div class="col-md-12 col-sm-12 col-xs-12 text-title col-6">
					{% if name %}
					<h3 >{{ name }}</h3>
					{% endif %}
					<div class="description-top">
						<p>{{ description }}</p>
					</div>
				</div>
				<div class="col-md-12  col-sm-12 col-xs-12 text-form col-6">
					<div class="form-group">
						<input type="text" class="form-control input-md inputNew" {% if customer_email is not defined %} onblur="javascript:if(this.value=='')this.value='{{ default_input_text }}';" onfocus="javascript:if(this.value=='{{ default_input_text }}')this.value='';"{% endif %} value="{{ customer_email? customer_email : default_input_text }}" size="18" name="email">
					</div>
					<div class="button-submit">
						<button type="submit" name="submitNewsletter" class="btn btn-danger">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						 	<!-- {{ button_subscribe }} -->
						</button>
					</div>	
					<input type="hidden" value="1" name="action">
					<div class="valid"></div>
				</div>
				<div class="description-bottom">
					{{ social }}
				</div>
			</div>
		</form>
</div>

<script type="text/javascript"><!--
$("#newsletter_{{ id }}").pavoNewsletter({
    message: '{{ valid_email }}'
});//.work(  '{{ valid_email }}' );
--></script>